:root:root {
  --color-scheme-dark: 1;
  color-scheme: dark;

  --c-text: #fafafa;
  --c-text-invert: #050505;
  --c-lvl0: #18181b;
  --c-lvl1: #212124;
  --c-lvl2: #27272a;
  --c-lvl3: #303034;
  --c-lvl4: #35353b;
  --c-lvl5: #71717a;
  --c-lvl6: #aea8af;
  --c-red: #ff5757;
  --c-green: #7ed957;
  --c-blue: #2081f0;
  --c-yellow: #ffcc00;
  --c-purple: #905ff2;
  --c-primary: #2081f0;

  --page-margin: 1.5rem;

  --border-radius: 0px;
  --border-thickness: 2px;

  --table-border-aggregation: calc(var(--border-thickness) + 2px) solid
    var(--c-lvl2);

  --container-box-shadow: 0 0 0 0;

  --select-box-shadow: 0;
  --select-items-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);

  --input-box-shadow: 0;
  --input-items-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);

  --tooltip-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

  font-size: 17px;

  @media only screen and (max-width: 1280px) {
    font-size: 17px;
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: 300;
    src: url("@/Assets/Fonts/SF-Mono-Light.otf") format("opentype");
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: 500;
    src: url("@/Assets/Fonts/SF-Mono-Medium.otf") format("opentype");
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: normal;
    src: url("@/Assets/Fonts/SF-Mono-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: bold;
    src: url("@/Assets/Fonts/SF-Mono-Bold.otf") format("opentype");
  }

  @media only screen and (max-width: 1280px) {
    font-size: 14px;
  }

  .card-body {
    line-height: 1.4rem;
    color: hsl(from #fafafa h s calc(l - 15));
  }
}
