:root {
  color-scheme: dark;

  --c-text: #fafafa;
  --c-text-invert: #050505;
  --c-lvl0: #18181b;
  --c-lvl0-hint: #1c1c1f;
  --c-lvl0-hover: #26262b;
  --c-lvl0-active: #35353b;
  --c-lvl1: #212124;
  --c-lvl1-hover: #303034;
  --c-lvl1-active: #3e3e44;
  --c-lvl2: #27272a;
  --c-lvl2-hover: #36363a;
  --c-lvl2-active: #44444a;
  --c-lvl3: #303034;
  --c-lvl3-hover: #3f3f44;
  --c-lvl3-active: #4d4d54;
  --c-lvl4: #35353b;
  --c-lvl4-hover: #43434b;
  --c-lvl4-active: #52525b;
  --c-lvl5: #71717a;
  --c-lvl5-hover: #808089;
  --c-lvl5-active: #909098;
  --c-lvl6: #aea8af;
  --c-lvl6-hover: #bdb8be;
  --c-lvl6-active: #ccc8cc;
  --c-red: #ff5757;
  --c-red-rgb: 255, 87, 87;
  --c-green: #7ed957;
  --c-green-rgb: 126, 217, 87;
  --c-blue: #2081f0;
  --c-blue-rgb: 32, 129, 240;
  --c-yellow: #ffcc00;
  --c-yellow-rgb: 255, 204, 0;
  --c-purple: #905ff2;
  --c-purple-rgb: 144, 95, 242;
  --c-primary: #2081f0;
  --c-primary-hover: #509cf3;
  --c-primary-active: #80b7f6;
  --c-primary-disabled: #68aaf5;

  --page-margin: 1.5rem;
  --dashboard-gap: 1.5rem;

  --font-weight: normal;
  --font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --border-radius: 0px;
  --border-thickness: 2px;

  --table-border-aggregation: calc(var(--border-thickness) + 2px) solid
    var(--c-lvl2);

  --card-margin-block: 0.875rem;
  --card-margin-inline: 1.125rem;

  --container-background: var(--c-lvl0);
  --container-background-hint: var(--c-lvl0-hint);
  --container-background-hover: var(--c-lvl0-hover);
  --container-background-active: var(--c-lvl0-active);
  --container-box-shadow: 0 0 0 0;

  --select-box-shadow: 0;
  --select-items-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);

  --input-background: var(--container-background);
  --input-background-hover: var(--container-background-hover);
  --input-background-active: var(--container-background-active);
  --input-border-color-hover: var(--c-lvl4-hover);
  --input-border-color-active: var(--c-lvl4-active);
  --input-box-shadow: 0;
  --input-items-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);

  --tooltip-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

  --tab-text-color: var(--c-lvl5);
  --tab-text-color-hover: var(--c-primary-active);
  --tab-text-color-active: var(--c-text);

  --gutter-color: var(--c-primary);

  --spinner-color: var(--c-text);

  --hover-duration: 75ms;

  font-family: "Nunito", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: 300;
    src: url("@/Assets/Fonts/SF-Mono-Light.otf") format("opentype");
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: 500;
    src: url("@/Assets/Fonts/SF-Mono-Medium.otf") format("opentype");
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: normal;
    src: url("@/Assets/Fonts/SF-Mono-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: bold;
    src: url("@/Assets/Fonts/SF-Mono-Bold.otf") format("opentype");
  }

  @media only screen and (max-width: 1280px) {
    font-size: 14px;
  }

  .card-body {
    line-height: 1.4rem;
    color: darken(#fafafa, 15%);
  }
}
