:root[data-theme="dark"] {
  --color-scheme-dark: 1;
  color-scheme: dark;

  --c-text: #ffffff;
  --c-text-invert: #111629;
  --c-lvl0: #111629;
  --c-lvl1: #1b2237;
  --c-lvl2: #1d2544;
  --c-lvl3: #272f52;
  --c-lvl4: #323a56;
  --c-lvl5: #6473a4;
  --c-lvl6: #ccd4df;
  --c-red: #e84d4d;
  --c-green: #0eaa6b;
  --c-blue: #0372ff;
  --c-yellow: #dea026;
  --c-purple: #794dec;
  --c-primary: #0372ff;
  --c-card-special-1: #6473a4;
  --c-card-special-2: #424c6c;

  --border-radius: 4px;
  --border-thickness: 0px;

  --table-border-aggregation: calc(var(--border-thickness) + 2px) solid
    var(--c-lvl2);

  --container-box-shadow: 0 0 0 0;

  --select-box-shadow: 0;
  --input-box-shadow: 0;
  --options-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  --tooltip-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

  --header-background: #262c40;

  body {
    background-color: #262c40;
  }
}
