:root[data-theme="light"] {
  --color-scheme-dark: -1;
  color-scheme: light;

  --c-text: #333333;
  --c-text-invert: #ffffff;
  --c-lvl0: #fafcff;
  --c-lvl1: #f7f7f7;
  --c-lvl2: #efefef;
  --c-lvl3: #e8e8e8;
  --c-lvl4: #d8d8d8;
  --c-lvl5: #6e6e77;
  --c-lvl6: #212124;
  --c-red: #e84d4d;
  --c-green: #0eaa6b;
  --c-blue: #63a8ff;
  --c-yellow: #dea026;
  --c-purple: #794dec;
  --c-primary: #63a8ff;
  --c-card-special-1: #6473a4;
  --c-card-special-2: #424c6c;

  --c-chart-green: #05c70c;
  --c-chart-blue: #5baefb;
  --c-chart-text: #000000;

  --border-radius: 10px;
  --border-thickness: 0px;

  --table-border-aggregation: calc(var(--border-thickness) + 2px) solid
    var(--c-lvl3);

  --container-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --select-box-shadow: 0;
  --input-box-shadow: 0;
  --options-box-shadow: var(--container-box-shadow);
  --tooltip-box-shadow: var(--container-box-shadow);

  --header-background: var(--c-lvl1);

  body {
    background-color: transparent;
    background-image: linear-gradient(
      to top left,
      rgba(38, 233, 154, 0.2),
      rgba(3, 114, 255, 0.2),
      rgba(111, 20, 255, 0.2)
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
