:root {
  --c-chart-red: var(--c-red);
  --c-chart-green: var(--c-green);
  --c-chart-blue: var(--c-blue);
  --c-chart-yellow: var(--c-yellow);
  --c-chart-purple: var(--c-purple);
  --c-chart-text: var(--c-text);

  --page-margin: 2.375rem;
  --dashboard-gap: 1.5rem;

  --card-margin-block: 0.875rem;
  --card-margin-inline: 1.125rem;

  --container-background: var(--c-lvl0);

  --hover-duration: 75ms;

  font-family: "Nunito", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;

  @media only screen and (max-width: 1280px) {
    font-size: 14px;
  }
}

input {
  &:hover,
  &:focus-visible {
    background-color: hsl(
      from var(--c-lvl2) h s calc(l + 6 * var(--color-scheme-dark))
    );

    border-color: hsl(
      from var(--c-primary) h s calc(l + 6 * var(--color-scheme-dark))
    );
  }

  &:active {
    background-color: hsl(
      from var(--c-lvl2) h s calc(l + 12 * var(--color-scheme-dark))
    );

    border-color: hsl(
      from var(--c-primary) h s calc(l + 12 * var(--color-scheme-dark))
    );
  }
}

.lucide {
  width: 1rem;
  height: 1rem;
}
