@mixin register($colorName, $colorValue) {
  --c-#{"" + $colorName}: #{$colorValue};
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin themeDark() {
  @include themeDarkFont();

  $text: #fafafa;

  $lvl0: #18181b;
  $lvl1: #212124;
  $lvl2: #27272a;
  $lvl3: #303034;
  $lvl4: #35353b;
  $lvl5: #71717a;
  $lvl6: #aea8af;

  $red: #ff5757;
  $green: #7ed957;
  $blue: #2081f0;
  $yellow: #ffcc00;
  $purple: #905ff2;

  $primary: $blue;

  $colors: (
    "text": $text,
    "lvl0": $lvl0,
    "lvl0-hint": lighten($lvl0, 1.5%),
    "lvl0-hover": lighten($lvl0, 6%),
    "lvl0-active": lighten($lvl0, 12%),
    "lvl1": $lvl1,
    "lvl1-hover": lighten($lvl1, 6%),
    "lvl1-active": lighten($lvl1, 12%),
    "lvl2": $lvl2,
    "lvl2-hover": lighten($lvl2, 6%),
    "lvl2-active": lighten($lvl2, 12%),
    "lvl3": $lvl3,
    "lvl3-hover": lighten($lvl3, 6%),
    "lvl3-active": lighten($lvl3, 12%),
    "lvl4": $lvl4,
    "lvl4-hover": lighten($lvl4, 6%),
    "lvl4-active": lighten($lvl4, 12%),
    "lvl5": $lvl5,
    "lvl5-hover": lighten($lvl5, 6%),
    "lvl5-active": lighten($lvl5, 12%),
    "lvl6": $lvl6,
    "lvl6-hover": lighten($lvl6, 6%),
    "lvl6-active": lighten($lvl6, 12%),
    red: $red,
    "red-rgb": hexToRGB($red),
    green: $green,
    "green-rgb": hexToRGB($green),
    blue: $blue,
    "blue-rgb": hexToRGB($blue),
    yellow: $yellow,
    "yellow-rgb": hexToRGB($yellow),
    purple: $purple,
    "purple-rgb": hexToRGB($purple),
    primary: $primary,
    "primary-hover": lighten($primary, 10%),
    "primary-active": lighten($primary, 20%),
    "primary-disabled": lighten($primary, 15%),
  );

  --font-weight: lighter;

  --border-radius: 0px;
  --border-thickness: 2px;

  --container-background: var(--c-lvl0);
  --container-background-hint: var(--c-lvl0-hint);
  --container-background-hover: var(--c-lvl0-hover);
  --container-background-active: var(--c-lvl0-active);
  --container-box-shadow: 0 0 0 0;

  --input-background: var(--container-background);
  --input-background-hover: var(--container-background-hover);
  --input-background-active: var(--container-background-active);
  --input-border-color-hover: var(--c-lvl4-hover);
  --input-border-color-active: var(--c-lvl4-active);

  // CSS Variables
  @each $colorName, $colorValue in $colors {
    @include register($colorName, $colorValue);
  }
}

@mixin themeDarkFont() {
  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: 300;
    src: url("/SF-Mono-Light.otf") format("opentype");
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: 500;
    src: url("/SF-Mono-Medium.otf") format("opentype");
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: normal;
    src: url("/SF-Mono-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: "SF Mono";
    font-style: normal;
    font-weight: bold;
    src: url("/SF-Mono-Bold.otf") format("opentype");
  }

  font-family: SF Mono, Consolas, monospace;
  font-size: 16px;

  @media only screen and (max-width: 1280px) {
    font-size: 12px;
  }
}
