@mixin register($colorName, $colorValue) {
  --c-#{"" + $colorName}: #{$colorValue};
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin themeLight() {
  $text: #333333;

  $lvl0: #fafcff;
  $lvl1: #f5f5f5;
  $lvl2: darken($lvl1, 3%);
  $lvl3: darken($lvl1, 6%);
  $lvl4: darken(#fafafa, 35%);
  $lvl5: #27272a;
  $lvl6: #212124;

  $red: #f84b5f;
  $green: #35d190;
  $blue: #058de1;
  $yellow: #f5d43b;
  $purple: #c868ee;

  $primary: $blue;

  $colors: (
    "text": $text,
    "lvl0": $lvl0,
    "lvl0-hint": darken(#f5f5f5, 2%),
    "lvl0-hover": darken($lvl0, 6%),
    "lvl0-active": darken($lvl0, 12%),
    "lvl1": $lvl1,
    "lvl1-hover": darken($lvl1, 6%),
    "lvl1-active": darken($lvl1, 12%),
    "lvl2": $lvl2,
    "lvl2-hover": darken($lvl2, 6%),
    "lvl2-active": darken($lvl2, 12%),
    "lvl3": $lvl3,
    "lvl3-hover": darken($lvl3, 6%),
    "lvl3-active": darken($lvl3, 12%),
    "lvl4": $lvl4,
    "lvl4-hover": darken($lvl4, 6%),
    "lvl4-active": darken($lvl4, 12%),
    "lvl5": $lvl5,
    "lvl5-hover": darken($lvl5, 6%),
    "lvl5-active": darken($lvl5, 12%),
    "lvl6": $lvl6,
    "lvl6-hover": darken($lvl6, 6%),
    "lvl6-active": darken($lvl6, 12%),
    red: $red,
    "red-rgb": hexToRGB($red),
    green: $green,
    "green-rgb": hexToRGB($green),
    blue: $blue,
    "blue-rgb": hexToRGB($blue),
    yellow: $yellow,
    "yellow-rgb": hexToRGB($yellow),
    purple: $purple,
    "purple-rgb": hexToRGB($purple),
    primary: lighten($primary, 10%),
    "primary-hover": lighten($primary, 20%),
    "primary-active": lighten($primary, 30%),
    "primary-disabled": darken($primary, 15%),
  );

  // CSS Variables
  @each $colorName, $colorValue in $colors {
    @include register($colorName, $colorValue);
  }

  --font-weight: normal;

  --border-radius: 10px;
  --border-thickness: 1px;

  --container-background: var(--c-lvl0);
  --container-background-hint: var(--c-lvl0-hint);
  --container-background-hover: var(--c-lvl0-hover);
  --container-background-active: var(--c-lvl0-active);
  --container-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --input-background: var(--c-lvl2);
  --input-background-hover: var(--c-lvl2);
  --input-background-active: var(--c-lvl2);
  --input-border-color-hover: var(--c-primary-hover);
  --input-border-color-active: var(--c-primary-active);

  body {
    background-color: transparent;
    background-image: linear-gradient(
      to top left,
      hsla(163, 84%, 70%, 0.5),
      hsla(48, 94%, 60%, 0.5),
      hsla(348, 70%, 55%, 0.5)
    );
    background-repeat: no-repeat;
    background-attachment: fixed;

    .controls {
      input {
        background-color: rgba(255, 255, 255, 0.75);

        &:hover,
        &:focus-visible {
          background-color: var(--c-lvl1);
        }
      }
    }

    input {
      font-weight: 500 !important;
    }
  }
}
