@mixin register($colorName, $colorValue) {
  --c-#{"" + $colorName}: #{$colorValue};
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin themeLight() {
  $red: #ff5757;
  $green: #7ed957;
  $blue: #2081f0;
  $yellow: #ffcc00;
  $purple: #ae85ff;

  $primary: $blue;

  $colors: (
    red: $red,
    "red-rgb": hexToRGB($red),
    green: $green,
    "green-rgb": hexToRGB($green),
    blue: $blue,
    "blue-rgb": hexToRGB($blue),
    yellow: $yellow,
    "yellow-rgb": hexToRGB($yellow),
    purple: $purple,
    "purple-rgb": hexToRGB($purple),
    primary: $primary,
    "primary-hover": lighten($primary, 10%),
    "primary-active": lighten($primary, 20%),
    "primary-disabled": lighten($primary, 15%),
  );

  // CSS Variables
  @each $colorName, $colorValue in $colors {
    @include register($colorName, $colorValue);
  }

  body {
    background-color: transparent;
    background-image: linear-gradient(
      to top left,
      hsla(163, 84%, 70%, 0.5),
      hsla(48, 94%, 60%, 0.5),
      hsla(348, 70%, 55%, 0.5)
    );
    background-size: cover;

    .card-container,
    .datatable {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
    }
  }
}
