.dashboard {
  margin: auto;
  padding: var(--page-margin);

  display: grid;
  gap: var(--dashboard-gap);
  grid-gap: var(--dashboard-gap);

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  @media only screen and (max-width: 1280px) {
    display: flex;
    flex-direction: column;

    padding: 1.5rem 1rem;
  }
}

.dashboard-grid {
  display: grid;
  gap: var(--dashboard-gap);
  grid-gap: var(--dashboard-gap);

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.loading-backdrop {
  &:not(&.loading) {
    opacity: 1;
  }

  &.loading {
    opacity: 0.33;
  }
}

/* Glues buttons together. */
.button-group {
  display: flex;

  button {
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

/* Border */
.border-flash {
  --flash-enabled: 1;
  --flash-duration: calc(1.5s * var(--flash-enabled));

  animation: flash var(--flash-duration) 3 ease-in-out;
  border: solid 1px rgba(from var(--flash-color) r g b / 0.5);
}

@keyframes flash {
  0%,
  100% {
    border-color: rgba(
      from var(--flash-color) r g b / max(0.5, calc(1 - var(--flash-enabled)))
    );
  }

  50% {
    border-color: rgba(
      from var(--flash-color) r g b / max(0.9, calc(1 - var(--flash-enabled)))
    );
  }
}

/* Border special */
.border-special,
.border-special-hover {
  position: relative;

  &::before,
  &::after {
    --padding: 3px;

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: var(--padding);
    border-radius: calc(var(--border-radius) + var(--padding));

    background-image: conic-gradient(
      from var(--angle),
      var(--c-card-special-1),
      var(--c-card-special-2),
      var(--c-card-special-1)
    );

    animation: var(--border-special-time, 2s) spin linear infinite;

    transition: opacity var(--hover-duration) linear;
    opacity: 0;
  }

  &::after {
    filter: blur(5px);
  }
}

.border-special {
  &::before {
    opacity: 1;
  }

  &::after {
    opacity: 0.5;
  }
}

.border-special-hover:hover {
  cursor: pointer;

  &::before {
    opacity: 1;
  }

  &::after {
    opacity: 0.5;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

/* Variants */
.lvl0 {
  --c-variant: var(--c-lvl0);
}

.lvl1 {
  --c-variant: var(--c-lvl1);
}

.lvl2 {
  --c-variant: var(--c-lvl2);
}

.lvl3 {
  --c-variant: var(--c-lvl3);
}

.lvl4 {
  --c-variant: var(--c-lvl4);
}

.lvl5 {
  --c-variant: var(--c-lvl5);
}

.lvl6 {
  --c-variant: var(--c-lvl6);
}

.red {
  --c-variant: var(--c-red);
}

.green {
  --c-variant: var(--c-green);
}

.blue {
  --c-variant: var(--c-blue);
}

.yellow {
  --c-variant: var(--c-yellow);
}

.purple {
  --c-variant: var(--c-purple);
}

.primary {
  --c-variant: var(--c-primary);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  33% {
    transform: translate(5px, -8px) rotate(2deg);
  }
  66% {
    transform: translate(-5px, -4px) rotate(-1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
