.dashboard {
  margin: auto;
  padding: var(--page-margin);

  display: grid;
  gap: var(--dashboard-gap);
  grid-gap: var(--dashboard-gap);

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  @media only screen and (max-width: 1280px) {
    display: flex;
    flex-direction: column;

    padding: 1.5rem 1rem;
  }
}

.dashboard-grid {
  display: grid;
  gap: var(--dashboard-gap);
  grid-gap: var(--dashboard-gap);

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}