.dashboard {
  margin: auto;
  padding: var(--page-margin);

  display: grid;
  gap: var(--dashboard-gap);
  grid-gap: var(--dashboard-gap);

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  @media only screen and (max-width: 1280px) {
    display: flex;
    flex-direction: column;

    padding: 1.5rem 1rem;
  }
}

.dashboard-grid {
  display: grid;
  gap: var(--dashboard-gap);
  grid-gap: var(--dashboard-gap);

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.font-mono {
  font-family: var(--font-mono);
}

.loading-backdrop {
  &:not(&.loading) {
    opacity: 1;
  }

  &.loading {
    opacity: 0.33;
  }
}

/* Border */
.border-flash {
  --flash-enabled: 1;
  --flash-duration: calc(1.5s * var(--flash-enabled));

  animation: flash var(--flash-duration) 3 ease-in-out;
  border: solid 1px rgba(from var(--flash-color) r g b / 0.5);
}

@keyframes flash {
  0%,
  100% {
    border-color: rgba(
      from var(--flash-color) r g b / max(0.5, calc(1 - var(--flash-enabled)))
    );
  }

  50% {
    border-color: rgba(
      from var(--flash-color) r g b / max(0.9, calc(1 - var(--flash-enabled)))
    );
  }
}
