// Hover
$hover-duration: 75ms;

// Header
$header-highlight-size: 1px;
$header-background: var(--c-lvl0);
$header-hover-duration: $hover-duration;
$header-primary: var(--c-lvl0);
$header-primary-active: var(--c-lvl6);
$header-button-hover: var(--c-lvl6);
$header-button-focus: var(--c-lvl6);
$header-button-active: var(--c-lvl6);

// Datatable
$datatable-hover-duration: $hover-duration;

// Other
$border-size: 2px;

// Page animation.
$content-show-duration: 75ms;
$ease-in: cubic-bezier(0, 0, 0.2, 1);
$ease-out: cubic-bezier(0.4, 0, 1, 1);

// Border
@mixin border-flash($rgb) {
  $name: flash-#{unique-id()};
  animation: $name 1.5s 3 ease-in-out;

  @keyframes #{$name} {
    0% {
      border-color: rgba($rgb, 0.5);
    }

    50% {
      border-color: rgba($rgb, 0.9);
    }

    100% {
      border-color: rgba($rgb, 0.5);
    }
  }
}

@mixin border($rgb, $flash: false) {
  border: solid 1px rgba($rgb, 0.5);

  @if $flash {
    @include border-flash($rgb);
  }
}

@mixin dashboard-grid($padding: false) {
  display: grid;
  gap: var(--dashboard-gap);
  grid-gap: var(--dashboard-gap);

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  @media only screen and (max-width: 1280px) {
    display: flex;
    flex-direction: column;

    @if $padding {
      padding: 1.5rem 1rem;
    }
  }
}

@mixin dashboard($root) {
  .#{$root} {
    margin: auto;
    padding: var(--page-margin);

    @include dashboard-grid(true);
  }
}

@mixin dashboardLAF($root) {
  .#{$root} {
    display: flex;
    justify-content: center;

    .dashboard {
      width: 100%;
      padding: var(--page-margin);

      @include dashboard-grid(true);
    }
  }
}
