// Hover
$hover-duration: 75ms;

// Header
$header-highlight-size: 1px;
$header-background: var(--c-lvl0);
$header-hover-duration: $hover-duration;
$header-primary: var(--c-lvl0);
$header-primary-active: var(--c-lvl6);
$header-button-hover: var(--c-lvl6);
$header-button-focus: var(--c-lvl6);
$header-button-active: var(--c-lvl6);

// Table
$table-hover-duration: $hover-duration;

// Page animation.
$content-show-duration: 75ms;
$ease-in: cubic-bezier(0, 0, 0.2, 1);
$ease-out: cubic-bezier(0.4, 0, 1, 1);
