// Colors
$background-color: #18181b;
$level1-color: #212124;
$level2-color: #27272a;
$level3-color: #303034;
$level4-color: #35353b;
$level5-color: #71717a;
$level6-color: #aea8af;
$text: #fafafa;

$red: rgb(255, 87, 87);
$green: rgb(126, 217, 87);
$blue: rgb(32, 129, 240);
$yellow: rgb(255, 204, 0);
$purple: rgb(140, 82, 255);

// Hover
$hover-duration: 75ms;

// Header
$header-highlight-size: 1px;
$header-background: $background-color;
$header-hover-duration: $hover-duration;
$header-primary: #18181b;
$header-primary-active: #aea8af;
$header-button-hover: #aea8af;
$header-button-focus: #aea8af;
$header-button-active: #aea8af;

// Datatable
$datatable-background: $background-color;
$datatable-background-hover: lighten($background-color, 6%);
$datatable-background-active: lighten($background-color, 12%);
$datatable-hover-duration: $hover-duration;

// Other
$page-margin: 1.5rem;
$border-size: 2px;

// Page animation.
$content-show-duration: 75ms;
$ease-in: cubic-bezier(0, 0, 0.2, 1);
$ease-out: cubic-bezier(0.4, 0, 1, 1);

// Border
@mixin border-flash($rgb) {
  $name: flash-#{unique-id()};
  animation: $name 1.5s 3 ease-in-out;

  @keyframes #{$name} {
    0% {
      border-color: rgba($rgb, 0.5);
    }

    50% {
      border-color: rgba($rgb, 0.9);
    }

    100% {
      border-color: rgba($rgb, 0.5);
    }
  }
}

@mixin border($rgb, $flash: false) {
  border: solid 1px rgba($rgb, 0.5);

  @if $flash {
    @include border-flash($rgb);
  }
}

@mixin dashboard-grid {
  display: grid;
  gap: 1.5rem;
  grid-gap: 1.5rem;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  @media only screen and (max-width: 1280px) {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
  }
}

@mixin dashboard($root) {
  .#{$root} {
    display: flex;
    justify-content: center;

    .dashboard {
      width: 100%;
      padding: $page-margin;

      @include dashboard-grid;
    }
  }
}
