@mixin register($colorName, $colorValue) {
  --c-#{"" + $colorName}: #{$colorValue};
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin themeDark() {
  color-scheme: dark;

  $text: #ffffff;

  $lvl0: hsl(240, 4%, 5%);
  $lvl1: hsl(225, 0%, 13%);
  $lvl2: hsl(226, 0%, 17%);
  $lvl3: hsl(225, 0%, 25%);
  $lvl4: hsl(0, 0%, 33%);
  $lvl5: hsl(226, 0%, 47%);
  $lvl6: hsl(225, 0%, 62%);

  $red: hsl(0, 90%, 66%);
  $green: hsl(123, 90%, 66%);
  $blue: hsl(222, 100%, 60%);
  $yellow: hsl(58, 90%, 66%);
  $purple: hsl(278, 90%, 66%);

  $primary: $blue;

  $colors: (
    "text": $text,
    "text-invert": invert($text),
    "lvl0": $lvl0,
    "lvl0-hint": lighten($lvl0, 1.5%),
    "lvl0-hover": lighten($lvl0, 12%),
    "lvl0-active": lighten($lvl0, 20%),
    "lvl1": $lvl1,
    "lvl1-hover": lighten($lvl1, 6%),
    "lvl1-active": lighten($lvl1, 12%),
    "lvl2": $lvl2,
    "lvl2-hover": lighten($lvl2, 6%),
    "lvl2-active": lighten($lvl2, 12%),
    "lvl3": $lvl3,
    "lvl3-hover": lighten($lvl3, 6%),
    "lvl3-active": lighten($lvl3, 12%),
    "lvl4": $lvl4,
    "lvl4-hover": lighten($lvl4, 6%),
    "lvl4-active": lighten($lvl4, 12%),
    "lvl5": $lvl5,
    "lvl5-hover": lighten($lvl5, 6%),
    "lvl5-active": lighten($lvl5, 12%),
    "lvl6": $lvl6,
    "lvl6-hover": lighten($lvl6, 6%),
    "lvl6-active": lighten($lvl6, 12%),
    red: $red,
    "red-rgb": hexToRGB($red),
    green: $green,
    "green-rgb": hexToRGB($green),
    blue: $blue,
    "blue-rgb": hexToRGB($blue),
    yellow: $yellow,
    "yellow-rgb": hexToRGB($yellow),
    purple: $purple,
    "purple-rgb": hexToRGB($purple),
    primary: $primary,
    "primary-hover": lighten($primary, 6%),
    "primary-active": lighten($primary, 12%),
    "primary-disabled": lighten($primary, 12%),
  );

  --page-margin: 2.375rem;
  --dashboard-gap: 1.5rem;

  --font-weight: normal;
  --font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --border-radius: 4px;
  --border-thickness: 0px;

  --header-background: #2c2c2c;

  --table-border-aggregation: calc(var(--border-thickness) + 2px) solid
    var(--c-lvl2);

  --container-background: var(--c-lvl0);
  --container-background-hint: var(--c-lvl0-hint);
  --container-background-hover: var(--c-lvl0-hover);
  --container-background-active: var(--c-lvl0-active);
  --container-box-shadow: 0 0 0 0;

  --select-box-shadow: 0;
  --select-items-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);

  --input-background: var(--c-lvl2);
  --input-background-hover: var(--container-background-hover);
  --input-background-active: var(--container-background-active);
  --input-border-color-hover: var(--c-lvl4-hover);
  --input-border-color-active: var(--c-lvl4-active);
  --input-box-shadow: 0;
  --input-items-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);

  --tooltip-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

  --tab-text-color: var(--c-lvl5);
  --tab-text-color-hover: var(--c-primary-active);
  --tab-text-color-active: var(--c-text);

  --gutter-color: var(--c-primary);

  --spinner-color: var(--c-text);

  @include themeDarkFont();
  
  @each $colorName, $colorValue in $colors {
    @include register($colorName, $colorValue);
  }
}

@mixin themeDarkLrt() {
  $purple: rgb(121, 77, 236);
  $primary: $purple;

  $colors: (
    primary: $primary,
    "primary-hover": lighten($primary, 6%),
    "primary-active": lighten($primary, 12%),
    "primary-disabled": lighten($primary, 12%),
  );

  @each $colorName, $colorValue in $colors {
    @include register($colorName, $colorValue);
  }

  @media only screen and (max-width: 1280px) {
    font-size: 14px;
  }
}

@mixin themeDarkFont() {
  font-family: "Nunito", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}
