:root[data-theme="light"] {
  --color-scheme-dark: -1;
  color-scheme: light;

  --c-text: #333333;
  --c-text-invert: #ffffff;
  --c-lvl0: #fafcff;
  --c-lvl1: #f7f7f7;
  --c-lvl2: #efefef;
  --c-lvl3: #e8e8e8;
  --c-lvl4: #d8d8d8;
  --c-lvl5: #6e6e77;
  --c-lvl6: #212124;
  --c-red: hsl(7, 95%, 54%);
  --c-green: hsl(122, 95%, 35%);
  --c-blue: hsl(209, 95%, 54%);
  --c-yellow: hsl(39, 95%, 54%);
  --c-purple: hsl(284, 95%, 54%);
  --c-primary: #5baefb;

  --border-radius: 10px;
  --border-thickness: 0px;

  --table-border-aggregation: calc(var(--border-thickness) + 2px) solid
    var(--c-lvl3);

  --container-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --select-box-shadow: 0;
  --select-items-box-shadow: var(--container-box-shadow);

  --input-box-shadow: 0;
  --input-items-box-shadow: var(--container-box-shadow);

  --tooltip-box-shadow: var(--container-box-shadow);

  body {
    background-color: transparent;
    background-image: linear-gradient(
      to top left,
      hsla(163, 84%, 70%, 0.4),
      hsla(48, 94%, 60%, 0.4),
      hsla(348, 70%, 55%, 0.4)
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

[data-theme="light"][data-flavor="lrt"] {
  --c-primary: #a689f2;
}
