@mixin register($colorName, $colorValue) {
  --c-#{"" + $colorName}: #{$colorValue};
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin themeLight() {
  @include themeLightFont();

  $text: #333333;

  $lvl0: #fafcff;
  $lvl1: #f7f7f7;
  $lvl2: darken($lvl1, 3%);
  $lvl3: darken($lvl1, 6%);
  $lvl4: darken($lvl1, 12%);
  $lvl5: #6e6e77;
  $lvl6: #212124;

  $red: hsl(7, 95%, 54%);
  $green: hsl(122, 95%, 40%);
  $blue: hsl(209, 95%, 54%);
  $yellow: hsl(39, 95%, 54%);
  $purple: hsl(284, 95%, 54%);

  $primary: $blue;

  $colors: (
    "text": $text,
    "lvl0": $lvl0,
    "lvl0-hint": darken(#f5f5f5, 2%),
    "lvl0-hover": darken($lvl0, 6%),
    "lvl0-active": darken($lvl0, 12%),
    "lvl1": $lvl1,
    "lvl1-hover": darken($lvl1, 6%),
    "lvl1-active": darken($lvl1, 12%),
    "lvl2": $lvl2,
    "lvl2-hover": darken($lvl2, 6%),
    "lvl2-active": darken($lvl2, 12%),
    "lvl3": $lvl3,
    "lvl3-hover": darken($lvl3, 6%),
    "lvl3-active": darken($lvl3, 12%),
    "lvl4": $lvl4,
    "lvl4-hover": darken($lvl4, 6%),
    "lvl4-active": darken($lvl4, 12%),
    "lvl5": $lvl5,
    "lvl5-hover": darken($lvl5, 6%),
    "lvl5-active": darken($lvl5, 12%),
    "lvl6": $lvl6,
    "lvl6-hover": darken($lvl6, 6%),
    "lvl6-active": darken($lvl6, 12%),
    red: $red,
    "red-rgb": hexToRGB($red),
    green: $green,
    "green-rgb": hexToRGB($green),
    blue: $blue,
    "blue-rgb": hexToRGB($blue),
    yellow: $yellow,
    "yellow-rgb": hexToRGB($yellow),
    purple: $purple,
    "purple-rgb": hexToRGB($purple),
    primary: lighten($primary, 13%),
    "primary-hover": lighten($primary, 20%),
    "primary-active": lighten($primary, 30%),
    "primary-disabled": lighten($primary, 30%),
  );

  // CSS Variables
  @each $colorName, $colorValue in $colors {
    @include register($colorName, $colorValue);
  }

  --page-margin: 2.375rem;
  --dashboard-gap: 1.5rem;
  --font-weight: normal;

  --border-radius: 10px;
  --border-thickness: 0px;

  --header-background: var(--c-lvl0);

  --container-background: var(--c-lvl0);
  --container-background-hint: var(--c-lvl0-hint);
  --container-background-hover: var(--c-lvl0-hover);
  --container-background-active: var(--c-lvl0-active);
  --container-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --select-box-shadow: 0;
  --select-items-box-shadow: var(--container-box-shadow);

  --input-background: var(--c-lvl2);
  --input-background-hover: var(--c-lvl2);
  --input-background-active: var(--c-lvl2);
  --input-border-color-hover: var(--c-primary-hover);
  --input-border-color-active: var(--c-primary-active);
  --input-box-shadow: 0;
  --input-items-box-shadow: var(--container-box-shadow);

  --tooltip-box-shadow: var(--container-box-shadow);

  --tab-text-color: var(--c-lvl5);
  --tab-text-color-hover: var(--c-lvl5);
  --tab-text-color-active: var(--c-text);

  --gutter-color: var(--c-primary);

  --spinner-color: var(--c-text);

  body {
    background-color: transparent;
    background-image: linear-gradient(
      to top left,
      hsla(163, 84%, 70%, 0.4),
      hsla(48, 94%, 60%, 0.4),
      hsla(348, 70%, 55%, 0.4)
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@mixin themeLightFont() {
  @font-face {
    font-family: "TT Hoves Pro Trial Variable Regular";
    font-style: normal;
    font-weight: normal;
    src: local("TT Hoves Pro Trial Variable Regular"),
      url("/font/TT Hoves Pro Trial Variable.woff") format("woff");
  }

  font-family: TT Hoves Pro Trial Variable Regular;
  font-size: 16px;

  @media only screen and (max-width: 1280px) {
    font-size: 14px;
  }
}
